@font-face {
  font-family: "satoshi";
  src: url(/Fonts/Satoshi/Satoshi-Regular.ttf);
}

@font-face {
  font-family: "satoshi-bold";
  src: url(/Fonts/Satoshi/Satoshi-Bold.ttf);
}

@font-face {
  font-family: "integralcf";
  src: url(/Fonts/Integral-CF/IntegralCF-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: satoshi;
}

.heading-font {
  font-family: integralcf;
}

.bold {
  font-family: satoshi-bold;
}

.hidden {
  display: none;
}
